<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Sua equipe</h1>
    <button onclick="window.href = 'cards/equipe'" >Gerar Equipe</button>
    <% if (pokemons.length===0) { %>
        <p>Nenhum pokémon salvo ainda.</p>
        <% } else { %>
            <div class="container">
                <% pokemons.forEach(pokemon=> { %>
                    <div class="card">
                        <img src="<%= pokemon.image %>" alt="<%= pokemon.name %>">
                        <p><strong>
                                <%= pokemon.name %>
                            </strong></p>
                        <% if (pokemon.hp) { %>
                            <p>HP: <%= pokemon.hp %>
                            </p>
                            <% } %>
                    </div>
                    <% }); %>
            </div>
            <% } %>
</body>
    <script>
        const logged = localStorage.getItem('user');
        if (!logged) {
          window.location.href = '/auth/register';
        }
    </script>
</html>