<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>

</head>
<body>
    <h1>Login</h1>

    <div class="login-container">
        <div id="error-message" class="error" style="display: none;">
        </div>
        <form id="login-form">
            <input type="text" id="username" name="username" required>
            <input type="password" id="password" name="password" required>
            <button type="submit">Entrar</button>
        </form>

        <div class="links">
            <p>Não tem uma conta? <a href="/auth/register">Registre-se aqui</a></p>
        </div>
    </div>

    <script>
    const logged = localStorage.getItem('user');
    if (logged) {
        window.location.href = '/card/equipe'
    }
    document.getElementById('login-form').addEventListener('submit', async function (e) {
    e.preventDefault();

    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    const res = await fetch('/auth/login', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({ username, password })
    });

    const result = await res.json();

    if (result.success) {
      localStorage.setItem('user', JSON.stringify(result.user));
      window.location.href = '/card/equipe';
    } else {
      alert('Login inválido');
    }
  });
    </script>
</body>
</html>